<ul class="icons">
    <li><a href="#" class="icon style2 fa-terminal"><span class="label">Filters</span></a></li>
    <li><a href="#" class="icon style2 fa-paper-plane"><span class="label">Messenger</span></a></li>
    <li><a href="#" class="icon style2 fa-volume-up"><span class="label">Mute</span></a></li>
    <li><a href="#" class="icon style2 fa-cogs"><span class="label">Settings</span></a></li>
    <li><a href="#" class="icon style2 fa-power-off"><span class="label">Sign-Out</span></a></li>
    <li><a href="#" id="rtc_status" class="icon style2 fa-server"><span class="label">Sign-Out</span></a></li>
</ul>
<style>
    #rtc_status.online {
        color: #41f960;
    }
    #rtc_status.offline {
        color: #f94141;
    }
</style>